body {
  background-image: url('../assets/BG-Clock.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.jumbotron {
  color: #3c2517;
  background-color: rgba(163, 161, 161, 0.5);
  background-size: cover;
  font-size: 10vw;
  margin-top: 200px;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: rgba(255, 255, 255, 1);
  border-color: black;
}

.button:hover {
  background-color: black; /* Green */
  color: white;
  border-color: white;
}
.title {
  color: #3c2517;
  font-size: 10em;
}

.list {
  color: #3c2517;
  font-size: 20px;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.5);
}

.watermark {
  opacity: 0.2;
}
